{% extends 'layout.twig' %}

{% block content %}
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 mb-3">

            {% if loginresult is same as('loginfail') %}
                <div class="alert alert-danger" role="alert">
                    <small> Failed to login  </small>
                </div>
            {% endif %}

            <!-- Main Content-->
            <h1 class="mb-5">Login</h1>
            <form action="?page=sendlogin" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}